{% extends 'base.html' %}

{% block title %}Contacts{% endblock title %}

{% block content %}
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6 col-offset-3">
        <h3>Contacts</h3>
        <div class="card">
            <div class="card-body">
                <p><span style="font-weight: bold;">Phone:</span> +7 (499) 999-99-99</p>
                <p><span style="font-weight: bold;">Address:</span> Moscow, Red Square, 1</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6 col-offset-3">
        {% if message %}
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                Thanks for your feedback!
            </div>
        {% endif %}
        <h3>Feedback</h3>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div style="margin-bottom: 10px;">
                        <label for="feedback_email">Your email:</label><br />
                        <input id="feedback_email" type="email" name="feedback_email" class="form-control" placeholder="E-mail"/>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="feedback_theme">Theme:</label><br />
                        <input id="feedback_theme" type="text" name="feedback_theme" class="form-control" placeholder="Theme"/>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="feedback_message">Message:</label><br />
                        <textarea id="feedback_message" name="feedback_message" class="form-control" rows="5" placeholder="Your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}