{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
{% if request.user.is_superuser or request.user.is_professor %}
    <div class="float-right" style="margin-top: 7px;">
        <a href="{% url 'courses:course_add' %}" class="btn btn-success">Add Course</a>
    </div>
{% endif %}
<h1>All Courses</h1>
<div class="row">
    {% for course in courses %}
        <div class="col-sm-3" style="padding-bottom: 20px;">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.text_short }}</p>
                <a href="{% url 'courses:course' pk=course.pk %}" class="btn btn-primary">Look</a>
            </div>
            </div>
        </div>
    {% empty %}
        <div style="text-align: center;">
            <h3>There are no courses</h3>
        </div>
    {% endfor %}
</div>
{% endblock %}