{% extends 'base.html' %}

{% block content %}
<div class="float-right" style="margin-top: 7px;">
    <ul style="list-style: none; display: flex;">
        {% if request.user in course.participants.all %}
            <li style="margin-left: 5px;">
                <form action="{% url 'courses:course_submit' pk=course.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">UnSubmit</button>
                </form>
            </li>
        {% elif request.user.is_authenticated %}
            <li style="margin-left: 5px;"><a href="{% url 'courses:course_submit' pk=course.pk %}" class="btn btn-primary">Submit</a></li>
        {% endif %}
        {% if request.user.is_superuser or request.user.is_professor %}
            <li style="margin-left: 5px;"><a href="{% url 'courses:lesson_add' %}?course={{ course.pk }}" class="btn btn-primary">Add Lesson</a></li>
            <li style="margin-left: 5px;"><a href="{% url 'courses:course_edit' pk=course.pk %}" class="btn btn-warning">Edit</a></li>
            <li style="margin-left: 5px;"><a href="{% url 'courses:course_delete' pk=course.pk %}" class="btn btn-danger">Delete</a></li>
        {% endif %}
    </ul>
</div>
<h1>{{ course.name }}</h1>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Info</strong>
            </div>
            <table class="table table-hover card-body attr-table">
                <tr>
                    <td>Description</td>
                    <td>{{ course.description }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Lessons</strong>
            </div>
            <table class="table table-hover card-body attr-table">
                {% for lesson in course.lessons.all %}
                    <tr>
                        <td>{{ lesson.name }}</td>
                        <td>
                            <a href="{% url 'courses:lesson_edit' pk=lesson.pk %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'courses:lesson_delete' pk=lesson.pk %}" class="btn btn-danger btn-sm">Del</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        None
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}